.d-flex {
    display: flex;
    gap: 24px;

}

.align-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.flex-column {
    flex-direction: column;
}

.text-size {
    font-size: 25px;
    font-family: Raleway;
}

.w-25 {
    width: 25%;
}

.border-5px {
    border-radius: 5px;
}

// .map-box {
//     width: 860px;
//     height: 460px;
//     border: 1px solid white;
// }

